body {
    height: 100vh;
    font: "Roboto Mono";
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top,.information,.quote {
    padding: 60px;
}
.information {
    display: flex;
    flex-direction: column;
}

.main-info {
    display: flex;
    padding: 12px;
    justify-content: center;
}

.info img { 
    width: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-link  {
    display: flex;
    list-style: none;
    gap: 24px;
}
li { 
    text-decoration: none;
}
.sub-header {
    display: flex;
    justify-content: space-between;
    padding: 48px 0px;
}


.author {
    display: flex;
    justify-content: flex-end;
}


.rec img  {
    width: 350px;
}

.top,.footer {
    background-color: #1f2937;
}

.title  {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.sub-title, .head-link {
    font-size: 18px;
    color: #e5e7eb;
}

.main-head  {
    font-size: 24px;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color:#f9faf8;
    border-radius: 4px;

}

.blue {
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    border-radius: 12px;
    padding: 24px;
}

.time {
    padding: 150px;
}
.footer {
    display: flex;
    justify-content: center;
    padding: 12px;
    color:#e5e7eb ;
}
.main-info {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote  {
    background-color: #e5e7eb;
}
.main-quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.call {
    color:#f9faf8 ;
}

.info {
    text-align: center;
}