body {
    display: flex;
    flex-direction: column;
}

.header {
    font-style: monospace;
    background-color: #1F2937;
}

.welcome    {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}   

.second-text  {
    font-size: 18px;
    color: #E5E7EB;

}